/* This is the CSS stylesheet for the Energy Resources Profile of Virginia webmap application
   It defines the layout and styling for the main components of the application, ensuring a responsive and user-friendly interface. */

html,
    body{
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
    }
	body {
		display: flex;
}


calcite-tabs{
	display: flex;
	flex-grow: 1;
	height: 100%;
	width: 100%;
}
#viewDiv, #capacityDiv{
	display: flex;
	flex-grow: 1;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

#iframe {
	height: 100%;
	width: 100%;
	border: none;
}

#header-title {margin: 10px}